<header class="header">
	<div class="header__menu">
		<div class="header__menu-wrapper container">
			<form class="header__menu-form header__menu-form--mobile">
				<label><input placeholder="что ищем?" type="text"></label>
				<button type="button">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
						<path
							d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z"
							stroke="#F7F3F0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
						<path d="M21.0004 20.9999L16.6504 16.6499" stroke="#F7F3F0" stroke-width="2" stroke-linecap="round"
							stroke-linejoin="round" />
					</svg>
				</button>
			</form>
			<ul class="header__menu-list">
				<li class="header__menu-item">
					<div class="header__menu-item-wrapper js-hover js-hover-menu" data-img-src="img/piltestnew.png"
						data-imgmasksrc="img/imgMask.png">
						<a class="header__menu-link js-canvasLink" href="portfolio.html"><span>(01) </span>Портфолио</a>
						<div class="header__menu-decor js-canvas-parent">
							<canvas class="canvas canvas-menu js-canvas"></canvas>
						</div>
					</div>
				</li>
				<li class="header__menu-item">
					<div class="header__menu-item-wrapper js-hover js-hover-menu" data-img-src="img/piltestnew.png"
						data-imgmasksrc="img/imgMask.png">
						<a class="header__menu-link js-canvasLink" href="javascript:void(0)"><span>(02) </span>О студии</a>
						<div class="header__menu-decor js-canvas-parent">
							<canvas class="canvas canvas-menu js-canvas"></canvas>
						</div>
					</div>
				</li>
				<li class="header__menu-item">
					<div class="header__menu-item-wrapper js-hover js-hover-menu" data-img-src="img/piltestnew.png"
						data-imgmasksrc="img/imgMask2.png">
						<a class="header__menu-link js-canvasLink" href="javascript:void(0)"><span>(03) </span>Публикации</a>
						<div class="header__menu-decor js-canvas-parent">
							<canvas class="canvas canvas-menu js-canvas"></canvas>
						</div>
					</div>
				</li>
				<li class="header__menu-item">
					<div class="header__menu-item-wrapper js-hover js-hover-menu" data-img-src="img/piltestnew.png"
						data-imgmasksrc="img/imgMask.png">
						<a class="header__menu-link js-canvasLink" href="javascript:void(0)"><span>(04) </span>Контакты</a>
						<div class="header__menu-decor js-canvas-parent">
							<canvas class="canvas canvas-menu js-canvas"></canvas>
						</div>
					</div>
				</li>
				<li class="header__menu-item">
					<div class="header__menu-item-wrapper js-hover js-hover-menu" data-img-src="img/piltestnew.png"
						data-imgmasksrc="img/imgMask.png">
						<a class="header__menu-link js-canvasLink" href="javascript:void(0)"><span>(05) </span>Видео</a>
						<div class="header__menu-decor js-canvas-parent">
							<canvas class="canvas canvas-menu js-canvas"></canvas>
						</div>
					</div>
				</li>
				<li class="header__menu-item">
					<div class="header__menu-item-wrapper js-hover js-hover-menu" data-img-src="img/piltestnew.png"
						data-imgmasksrc="img/imgMask2.png">
						<a class="header__menu-link js-canvasLink" href="service.html"><span>(06) </span>Услуги</a>
						<div class="header__menu-decor js-canvas-parent">
							<canvas class="canvas canvas-menu js-canvas"></canvas>
						</div>
					</div>
				</li>
			</ul>
			<ul class="header__social-list-mobile">
				<li class="header__social-item">
					<a href="javascript:void(0)">Vk</a>
				</li>
				<li class="header__social-item">
					<a href="javascript:void(0)">Facebook</a>
				</li>
				<li class="header__social-item">
					<a href="javascript:void(0)">Houzz</a>
				</li>
			</ul>
			<div class="header__menu-contacts">
				<a class="header__menu-contacts-link header__menu-contacts-link--mail"
					href="mailto:info@instilier.ru">info@instilier.ru</a>
				<div>
					<a class="header__menu-contacts-link header__menu-contacts-link--tel" href="tel:+74993468963">+7 - 499 - 346
						- 8963</a>
					<p class="header__menu-contacts-schedule">пн-пт: 8:00 - 19:00</p>
				</div>
				<p class="header__menu-contacts-adres"><span>Москва,</span> Литовский б-р 1-221</p>
			</div>
			<div class="header__menu-footer">
				<p>ООО "Студия Инстильер" 2013-2021 (с)</p>
				<a href="javascript:void(0)">Сделано в студии Магвай</a>
			</div>
		</div>
	</div>
	<div class="header__wrapper container">
		<div class="header__content">
			<a class="header__logo-link" href="javascript:void(0)">
				<div class="header__logos">
					<picture class="header__logo-default">
						<source srcset="img/logo-mobile.png" media="(min-width: 0px) and (max-width: 767px)">
						<source srcset="img/logo-tablet.png" media="(min-width: 767px) and (max-width: 1279px)">
						<img src="img/logo-desktop.png" alt="logo">
					</picture>
					<div class="header__logo-fixed">
						<img src="img/fixedLogo.svg" alt="img">
					</div>
				</div>
			</a>
			<p class="header__content-text">Мы являемся студией дизайна модных интерьеров</p>
			<div class="header__menu-static">
				<a class="is-text header__menu-btn js-headerMenu" data-click='0'>
					<div class="header__menu-inner-wrapper">
						<span class="icon menu-icon"></span>
					</div>
					<p class="header__menu-btn-text header__menu-btn-text--menu">Меню</p>
					<p class="header__menu-btn-text header__menu-btn-text--close">Закрыть</p>
				</a>
			</div>
			<div class="header__bar">
				<ul class="header__social-list">
					<li class="header__social-item">
						<a href="javascript:void(0)">Vk</a>
					</li>
					<li class="header__social-item">
						<a href="javascript:void(0)">Facebook</a>
					</li>
					<li class="header__social-item">
						<a href="javascript:void(0)">Houzz</a>
					</li>
				</ul>
				<form>
					<div>
						<input type="text" placeholder="что ищем?">
						<button class="header__bar-img-view" type="button">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
								<path
									d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z"
									stroke="#B55A2B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
								<path d="M21.0004 20.9999L16.6504 16.6499" stroke="#B55A2B" stroke-width="2" stroke-linecap="round"
									stroke-linejoin="round" />
							</svg>
						</button>
						<a class="js-search-open" href="#">
							<svg class="search-img" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
								fill="none">
								<path
									d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z"
									stroke="#B55A2B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
								<path d="M21.0004 20.9999L16.6504 16.6499" stroke="#B55A2B" stroke-width="2" stroke-linecap="round"
									stroke-linejoin="round" />
							</svg>
							<svg class="close-img header__bar-img-view" xmlns="http://www.w3.org/2000/svg" width="33" height="33"
								viewBox="0 0 33 33" fill="none">
								<line x1="7.77926" y1="24.042" x2="24.0427" y2="7.7785" stroke="#B55A2B" />
								<line x1="24.041" y1="24.7491" x2="7.77752" y2="8.48561" stroke="#B55A2B" />
							</svg>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</header>