.awards {
	margin-top: 0px;
}

.awards__title {
	font-family: $HelveticaNeue;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
	color: $black;
	opacity: 0.5;
	margin: 0;
	transition: 0.5s ease;
}

.awards__list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	align-items: center;
	gap: 40px 3vw;
	justify-items: center;
	width: max-content;
	margin-left: auto;
	margin-right: auto;
	margin-top: 31px;
}


@media (min-width:0px) and (max-width: 1179px) {
	.awards__list {
		grid-template-columns: repeat(6, 1fr);
		gap: 40px 40px;

		& li {
			grid-column: span 3;

			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3) {
				grid-column: span 2;
			}

			&:nth-child(4) {
				transform: translateX(35px);
			}
		}
	}

}


@media (min-width:0px) and (max-width: 767px) {
	.awards {
		margin-top: 0px;
	}

	.awards__list {
		& li {
			& img {
				max-height: 55px;
			}
		}
	}

}