$desktop-width: 1920px;
$tablet-width: 768px;
$mobile-width: 375px;

$m: 768px;
$l: 1200px;
$xl: 1600px;

$HelveticaNeue: "HelveticaNeue";
$Lovelace: "Lovelace";

$orange: #b55a2b;
$black: #101010;
$white: #fff7f3;

$time: 0.3s;
$t-effect: ease-in;